<section class='gif'>
  <input ng-model='api.search' />
  <button type='submit' ng-click='api.getGif()'>Search</button>
  <button ng-click='api.getRandom()'>Random GIPHY!</button>
  <div class='gif-display'>
    <div class='image'>
      <img ng-src='{{ api.gif.toString() }}'  />
    </div>
  </div>
  <form>
    <input type='text' id='submit-favorite' ng-model='api.comment'  />
    <button type='submit' ng-click='api.submitFavorite(api.comment, api.gif)'>Add Favorite</button>
  </form>
</section>
